In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split

In [2]:
def clean_col(file_name):
    superstore_df = pd.read_csv(file_name)
    superstore_df.set_index('Row ID')
    clean_cols = []
    for cols in superstore_df.columns:
        clean_cols.append(cols.lower().replace(' ','').replace('-',''))
    superstore_df.columns = clean_cols
    return superstore_df

In [3]:
def stat(selected_cols,df):
    agg_selected_cols = df[selected_cols].agg(['mean','std','min','max'])
    return agg_selected_cols

In [98]:
def sale_by_sel(df,selected_col):
    sales_by_selected = df.groupby(selected_col)['sales','profit','discount','quantity'].agg('sum')
    sales_by_selected['percent_margin'] = sales_by_selected['profit']/sales_by_selected['sales']*100
    return sales_by_selected

In [6]:
def margin_col(df):
    df['margin'] = df['profit']/df['sales']
    return df

In [110]:
def clustering(df,n_cluster):
    K_means = KMeans(n_clusters = n_cluster, random_state = 0 )
    K_means.fit(df)
    df['kmeans'] = K_means.labels_
    plt.scatter(df['percent_margin'],df['sales'],c = df['kmeans'])
    return df

In [19]:
store_df = clean_col('sample-store.csv')

In [43]:
stat(['sales','profit','quantity'],store_df)

        category         sales       profit   quantity
mean         NaN    229.858001    28.656896   3.789574
std          NaN    623.245101   234.260108   2.225110
min    Furniture      0.444000 -6599.978000   1.000000
max   Technology  22638.480000  8399.976000  14.000000

In [102]:
sale_by_cus = sale_by_sel(store_df,'customerid')

C:\Users\Ne\AppData\Local\Temp/ipykernel_14728/4291233972.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_by_selected = df.groupby(selected_col)['sales','profit','discount','quantity'].agg('sum')

In [123]:
sale_by_cus = clustering(sale_by_cus[['sales','quantity','discount','profit','percent_margin']],5)

In [120]:
sale_by_product = sale_by_sel(store_df,'productid')

C:\Users\Ne\AppData\Local\Temp/ipykernel_14728/4291233972.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_by_selected = df.groupby(selected_col)['sales','profit','discount','quantity'].agg('sum')

In [122]:
sale_by_product = clustering(sale_by_product[['sales','quantity','discount','profit','percent_margin']],5)

In [124]:
sale_by_cus.to_csv('new customer segment.csv')

In [125]:
sale_by_product.to_csv('product hero.csv')